@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", serif;
  /* font-family: "outfit", serif; */
}

#root {
  max-width: 1680px;
  margin: 0 auto;
  color: #2C3E50;
  line-height: 1.3;
  /* padding: 2rem; */
  /* text-align: center; */
}

.body{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}