.doctor-details-header {
    font-size: 25px;
    margin: -35px 0 20px 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-doctor-details-container {
    width: 100%;
    height: 450px;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
}

.inside-doctor-details-containerr::-webkit-scrollbar {
    display: none;
}

.inside-doctor-details-container {
    scrollbar-width: none;
    /* Firefox */
}


.loading-div-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #D9EAFD #D9EAFD transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #c0ddfe #c0ddfe;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: 32px;
    height: 32px;
    border-color: #D9EAFD #D9EAFD transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}






.doctorsAbout-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 18px;
}

.aboutDoctor-box {
    display: flex;
    gap: 50px;
}

.about-doctor-img-box {
    height: 420px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
}

.about-doctor-img-box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all ease 0.5s;
}

.about-doctor-img-box:hover img {
    scale: 1.1;
}

.about-doctor-div {
    width: 100%;
}

.about-doctor-name-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doctor-added-date{
    color: grey;
}

.about-doctor-delete-action button{
    width: 90px;
    margin-top: 10px;
    background-color: rgb(247, 130, 130);
    color: white;
    border: none;
    padding: 3px 0;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.about-doctor-delete-action button:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.about-doctor-delete-action button:active{
    transform: scale(0.9);
}

.about-doctor-div h2 {
    font-weight: bold;
}

.qualifications {
    display: flex;
    gap: 4px;
    color: rgb(111, 111, 111);
}

.about-doctors-ratings {
    margin-top: 10px;
    color: #95c6ff;
}

.contact-information-div {
    margin-top: 20px;
}

.contact-information {
    margin-top: 10px;
}

.description-header {
    display: flex;
    margin-top: 30px;
}

.description-header i {
    padding-top: 3px;
    padding-left: 5px;
}

.description {
    margin: 10px 0;
}

.description p {
    width: 100%;
}

.adjustable-description-container {
    display: none;
}

@media (max-width: 1335px) {
    .about-doctor-img-box {
        height: 470px;
    }
}

@media (max-width: 1010px) {
    .about-doctor-img-box {
        height: 440px;
    }

    .description p {
        width: 100%;
    }
}

@media (max-width: 930px) {
    .doctorsAbout-container {
        font-size: 17px;
    }

    .about-doctor-img-box {
        height: 410px;
    }

    .aboutDoctor-box {
        gap: 30px;
    }
}

@media (max-width: 830px) {
    .aboutDoctor-box {
        display: flex;
        align-items: center;
    }

    .about-doctor-img-box {
        height: 300px;
    }

    .description-header {
        display: none;
    }

    .description {
        display: none;
    }

    .adjustable-description-header {
        display: flex;
        gap: 10px;
    }

    .adjustable-description-header i {
        margin-top: 4px;
    }

    .adjustable-description-container {
        display: block;
        margin-top: 30px;
    }

    .adjustable-description p {
        padding-top: 15px;
    }
}

@media (max-width: 510px) {
    .about-doctor-div h2 {
        font-size: 22px;
    }

    .aboutDoctor-box {
        gap: 10px;
    }

    .about-doctor-img-box {
        height: 240px;
    }

    .doctorsAbout-container {
        font-size: 15px;
    }

    .about-doctors-ratings {
        font-size: 12px;
    }
}

@media(max-width: 665px) {
    .qualifications {
        display: flex;
        flex-direction: column;
    }
}